@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="width:98%;padding:0; border-collapse:collapse; margin-left:auto;margin-right:auto" border="0">
        <tr>
          <td>&nbsp;</td>
        </tr>

    
        <tr>
          <td style="font-size:12px; ">

@model Jeanstation.Models.Jeans

@{
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Jeans</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Jeans_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Jeans_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Details)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Details)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JeansCategory.strCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JeansCategory.strCategory)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
              </td>
        </tr>
        
      </table>
