@model Jeanstation.Models.Jeans

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Jeans</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Jeans_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Jeans_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Details)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Details)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Jeanscategory.strCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Jeanscategory.strCategory)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
