
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
                  <link href="@Url.Content("~/Content/homepage.css")" rel="stylesheet" type="text/css" />
      
     

        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body style=" background-image:url(../../Images/bg.jpg); margin:0; font-family:Arial, Helvetica, sansserif;  ">
        <div>
  <table id="table" style="width:100%; padding:0; border-collapse:collapse" border="0" >
    <tr>
        

<td style="width:10%;background-image:url(~/Images/header_bg.jpg); background-repeat:repeat-x;height:275px">&nbsp;</td>
      <td style="background-image:url(../../Images/header_bg.jpg); background-repeat:repeat-x; height:275px">
        <table style="width:100%" border="0" padding:0; border-collapse:collapse">
        <tr>
          <td style="width:65%"><img id="JeansImage" src="../../Images/header_img.jpg" width="545" height="275"></td>
          <td style="width:35%; text-align:right;vertical-align:bottom;color:#ffffff; font-family:Georgia; font-size:36px;"><span id="Name"> JeanStation</span></td>
        </tr>
      </table></td>
      <td style="width:10%;background-image:url(../../Images/header_bg.jpg); background-repeat:repeat-x;height:275px">&nbsp;</td>

 
            
     
    </tr>
    <tr>
      <td style="width:10%">&nbsp;</td>
      <td style="height:35px; background-color:#ffcc00;color:#000;text-align:center">
        @Html.ActionLink("Home", "Index","MyHome") |
           @Html.ActionLink("Contact Us", "Contact","MyHome") |
        @Html.ActionLink("Jeanses", "Index","Jeanses") |
        @Html.ActionLink("Feedback", "create","Feedback")     
          |
        @Html.ActionLink("Shopping Cart", "ShoppingCart", "Jeanses", new { id = 0 }, null)    |
        @Html.ActionLink("Change Theme", "ChangeTheme","MyHome") |  
              @{
Html.RenderPartial("_LoginPartial");            
}        
       </td>
      <td style="width:10%"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>

        @{
            var theme="white";
              if (Request.Cookies["cookie"] != null)
              {
                theme = Request.Cookies["cookie"].Value;
              }
                  
                <td style="background-color:@theme; ">
                     @RenderBody()

                </td>
              }
              
      <td>&nbsp;</td>
    </tr>
      <tr>
          
              @RenderSection("footer", required: false)
     
    </tr>
    <tr>
      <td style="width:10%">&nbsp;</td>
      <td>&nbsp;</td>
      <td style="width:10%">&nbsp;</td>
    </tr>
  </table>


</div>









       
   
       

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
